name: Run Pact tests

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
      # A GitHub Action artifact which contains the pact definition files
      # Publishing API calls this action to test new pacts against this
      # workflow
      pact_artifact:
        required: false
        type: string
      # Which version of the pacts to use from the Pact Broker service
      # This option will be ignored if pact_artifact is set
      pact_consumer_version:
        required: false
        type: string
        default: branch-deployed-to-production

jobs:
  pact_verify:
    name: Verify pact tests
    runs-on: ubuntu-latest
    env:
      RAILS_ENV: test
    steps:
      - name: Setup Postgres
        id: setup-postgres
        uses: alphagov/govuk-infrastructure/.github/actions/setup-postgres@main

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: alphagov/content-store
          ref: ${{ inputs.ref || github.ref }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Initialize database
        run: bundle exec rails db:setup
        env: 
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}

      - name: Verify pact consumer version
        if: inputs.pact_artifact == ''
        env:
          PACT_CONSUMER_VERSION: ${{ inputs.pact_consumer_version }}
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
        run: bundle exec rake pact:verify

      - name: Download pact artifact
        if: inputs.pact_artifact != ''
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.pact_artifact }}
          path: tmp/pacts

      - name: Verify pact artifact
        if: inputs.pact_artifact != ''
        run: bundle exec rake pact:verify:at[tmp/pacts/publishing_api-content_store.json]
        env: 
          TEST_DATABASE_URL: ${{ steps.setup-postgres.outputs.db-url }}
